<<<<<<< HEAD
=======
<!--<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%#= link_to "#", class: "navbar-brand" do %>-->
      <%#= image_tag "https://cdn.dribbble.com/userupload/2902893/file/original-f4636f83de96093a2fec64c89dfa960d.png" , style: "width: 60px; height: auto;" %>
    <%# end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%#= link_to "Dashboard", user_dashboards_path(current_user), class: "nav-link" %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboard
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="<%= dashboard_renter_path %>">My Rentals</a></li>
              <li><a class="dropdown-item" href="<%= dashboard_rentee_path %>">Rented Items</a></li>
            </ul>
          </div>
          </li>
          <li class="nav-item">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another Action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
<!--            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">-->
              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another Action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
<!--            </div>
          </li>-->
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!--<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%#= link_to "#", class: "navbar-brand" do %>-->
      <%#= image_tag "https://cdn.dribbble.com/userupload/2902893/file/original-f4636f83de96093a2fec64c89dfa960d.png", style: "width: 60px; height: auto;" %>
    <%# end %>
<!--
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>-->
<!--          <li class="nav-item active">-->
            <%#= link_to "Home", root_path, class: "nav-link" %>
<!--          </li>
          <li class="nav-item">
            <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>-->
            <%#= link_to "New Clothing", new_clothing_path, class: "nav-link btn btn-primary", role: "button" %>
<!--          </li>
        <%# else %>-->
        <%# end %>
<!--      </ul>
    </div>
  </div>
</div>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <%#= link_to root_path, class: "navbar-brand" do %>-->
      <%#= image_tag "logo.png", width: "60", height: "auto", class: "d-inline-block align-top" %>
    <%# end %>
<!--
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContents" aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContents">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%# if user_signed_in? %>-->
<!--          <li class="nav-item">-->
            <%#= link_to "Home", root_path, class: "nav-link" %>
<!--          </li>
          <li class="nav-item">
            <%#= link_to "New Clothing", new_clothing_path, class: "nav-link" %>-->
<!--          </li>
          <li class="nav-item">
            <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>-->
<!--          </li>-->
        <%# else %>
<!--          <li class="nav-item">-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
<!--          </li>-->
        <%# end %>
<!--      </ul>
    </div>
  </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "marker_logo.png", height: "60" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- Updated class here -->
        <% if user_signed_in? %>
          <%= link_to "Home", root_path, class: "nav-item nav-link active" %>
          <%= link_to "Rent your clothes out", new_clothing_path, class: "nav-item nav-link" %>
          <%= link_to "Your Clothes", dashboard_rentee_path, class: "nav-item nav-link" %>
          <%= link_to "Your Rentals", dashboard_renter_path, class: "nav-item nav-link" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
