<div class="container">
  <%= simple_form_for(rental, wrapper: :vertical_form) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :status, collection: ['Available', 'Unavailable'], prompt: "Select Status" %>
      <%= f.association :clothing, collection: Clothing.all, prompt: "Choose a Clothing" %>
      <%= f.association :user, collection: User.all, prompt: "Choose a User" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>


<div class="container">
  <%= simple_form_for(rental, wrapper: :vertical_form) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%#= f.association :clothing, collection: Clothing.available, prompt: "Choose an Item" %>
      <%#= f.input :price, input_html: { min: 0, step: '0.01' }, prefix: 'R', label: "Rental Price (per day)" %>
      <%#= f.input :start_date, as: :date, label: "Start Date", input_html: { min: Date.today } %>
      <%#= f.input :end_date, as: :date, label: "End Date", input_html: { min: Date.today } %>
      <%#= f.input :terms, as: :text, label: "Special Terms or Instructions" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Confirm Rental" %>
    </div>
  <% end %>
</div>
