<div class="container mt-5">  <!--added mt-->
  <h1>Rent item</h1> <!--changed "new rental" to "rent item"-->
  <p><strong> <%= @clothing.title %></strong></p>
  <%= simple_form_for([@clothing, @rental], wrapper: :vertical_form) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :clothing_id, value: @clothing.id %>
    <%= f.hidden_field :status, value: "pending" %>
    <div class="form-inputs">
      <%= f.input :from, as: :date %>
      <%= f.input :to, as: :date %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  <%#= link_to 'Back', clothing_rentals_path(@clothing) %>   <!--not necessary since home in navbar works-->
</div>
