<div class="container">

<h1>rentee dashboard</h1>

<% if @rental_requests.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Clothing</th>
        <th>Renter</th>
        <th>Rental Dates</th>
      </tr>
    </thead>
    <tbody>
      <% @rental_requests.each do |request| %>
        <%# if request == 'accept' %>
          <tr>
            <td><%= request.clothing.title %></td>
            <td><%= request.user.email %></td>
            <td><%= "#{request.from} - #{request.to}" %></td>
         </tr>
          <% end %>
        <%# end %>
    </tbody>
  </table>
  <% else %>
    <p>You don't have any rented items yet.</p>
<% end %>

<h2>Past Rentals</h2>
<% if @past_rentals.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Clothing</th>
        <th>Renter</th>
        <th>Rental Dates</th>
      </tr>
    </thead>
    <tbody>
      <% @past_rentals.each do |request| %>
        <tr>
          <td><%= request.clothing.title %></td>
          <td><%= request.current_user.email %></td>
<!--          <td><%#= "#{request.rental_start_date} - #{request.rental_end_date}" %></td>
-->        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't have any past rentals yet.</p>
<% end %>
</div>
